#app-chat
{
    margin-left: 15%;
    display: flex;
    justify-content: space-between;
    background-color: #f0f0f0;
    height: 100vh;
    font-size: 100%;
    max-width: 2250px;
}
#chat-user
{
    width: 40%;
    position: relative;
     overflow-y: auto;
     border-right: 2px solid #77252520;
     height: 100%;
      max-width: 1429px;
       padding-top:10px;
}
.div-chat-user
{
    display: flex;
    align-items: center;
    padding: 1% 2%;
    cursor: pointer;
    width: 100%;
    border-bottom: 1px solid rgb(203, 202, 202);
}
.div-chat-user:hover
{
    background-color: #42475591
}
.chat-user-img
{
    width: 60px;
    height: 60px;
    border-radius:100%;
    object-fit: cover;
    border: 1px solid var(--green);
}
.info-chat
{
    width: 100%;
    max-width: 80%;
    height:  100%;
    display: flex;
    flex-direction: column;
    padding-top: 13px;
    justify-content: space-between;
}

.info-chat a,.info-chat a.active,.info-chat a:hover
{
    color:var(--black);
}
.name-chat-user
{
    font-size: 1.2em;
    margin-left: 4px;
    padding: 0%;
    margin-top: 0;
    white-space: nowrap; 
    width: 180px; 
    overflow: hidden;
  text-overflow: ellipsis;
}
.last-msg
{
    width: 60%;
    font-size: 0.9em;
    white-space: nowrap;
      overflow: hidden;
  text-overflow: ellipsis;
}
.no-box
{
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    width: 60%;
    color: rgb(138, 138, 138);
}
@media (max-width:1368px) and (min-width:768px)
{
    #app-chat
    {
        margin-left: 80px;
        font-size: 85%;
    }
    #chat-user
    {
        width: 30%;

    }
      .chat-user-img
    {
        margin: 0 auto;
        width: 50px;
        height: 50px;
        min-width: 50px;
    }
}
@media (max-width:768px)
{
    #app-chat
    {
        margin-left: 0;
        height: calc(100vh - 50px);
        margin-top: 50px;
    }
    .info-chat
    {
        display: none;
    }
        #chat-user
    {
        width: 10%;
        overflow-x: hidden;
    }
    .chat-user-img
    {
        margin: 0 auto;
        width: 9vw;
        height: 9vw;
    }
}
@media (min-width:2892px) 
{
    #app-chat
    {
        margin: 0 auto;
    }
    
}