#navbar
{
    position: fixed;
    color: var(--dark);
    background-color: rgb(255, 255, 255);
    box-shadow: 0px 0px 4px black;
    height: 100vh;
    width: 15%;
    max-width: 340px;
    top:0;
    left: 0;
    z-index: 1;
    font-size: 100%;
}
#navbar>nav
{
    padding: 2% 0 0 2%;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin: 0 auto;
}
.profile-item a ,.nav-logo a
{
color: inherit;
  text-decoration: none;
}
.profile-item
{
    width: 100%;
    margin: 0 ;
    padding: 0 auto;
    list-style-type: none;
}
.profile-item>li
{
    width: 100%;
    margin-bottom: 30px;
    cursor: pointer;
}
.nav-logo
{
    font-size: 2.5em;
    text-align: center;
    font-weight: 900;
    font-family: 'Noto Sans', sans-serif;
}

.nav-logo>p
{
    display: none;
}
.nav-icon
{
    font-size: 1.6em;
    margin-bottom:10px;
}
.nav-name
{
    align-self: center;
    margin-left: 8px;
    font-size: 1.6em;
}
.upload-btn
{
  width: 88%;
  max-width: 330px;
  padding: 6px;
  background-color: var(--green);
  color: #fff;
  border: none;
  border-radius: 6px;
  cursor: pointer;
  font-size: 14px;
  margin-bottom: 3%;
}
.div-logout
{
  margin: 0 auto;
  width: 85%;
  text-align: center;
  display: flex;
}
.btn-logout
{
  width: 95%;
  background-color:#dadada;
  border: none;
   max-width: 330px;
  border-radius: 27px;
  cursor: pointer;
  font-size: 20px;
  height: 55px;
  margin-bottom: 1%;
  display: flex;
  justify-content:space-evenly;
  align-items: center;
}
.btn-logout:hover
    {
        background-color: #c3bfbf;
    }
.log-img
{
    border-radius: 100%;
    width: 40px;
    height: 40px;
    min-width: 40px;
    object-fit: cover;
}
.btn-logout>p
{
    margin-top: 15px;
    font-size: 0.8em;
    color: var(--dark);
    padding-left: 5px;
    text-overflow: ellipsis;
    overflow: hidden;
      white-space: nowrap;
}
.logut-opt
{
    width: 160px;
    height: 40px;
    border: none;
    color: #fff;
    border-radius: 8px ;
    background-color: #d60c24;
    font-size: 20px;
    box-shadow: 3px 3px 10px black;
    position: absolute;
    left: 16vw;
    bottom: 3%;
}
.logut-opt:hover
{
    background-color: #b4071b;
}
@media (max-width:1368px) and (min-width:768px)
{
    #navbar
    {
        width: 80px;
    }
    #navbar>nav
    {
        display: flex;
        width: 100%;
        height: 100%;
    }
    .profile-item
    {
        width: 100%;
    }
    .profile-item>li
    {
        width: 100%;
    }
    .nav-name
    {
        display: none;
    }
    .btn-logout>p
    {
        display: none;
    }
    .nav-logo>span
    {
        display: none;
    }
    .nav-logo>p
    {
        display: block;
    }
    .btn-logout
    {
        width: 50px;
        background-color: transparent;
        border-radius:100%;
        padding:0 10px;
        margin: 0 auto;
    }
    profile-item>li:last-child
    {
        position: relative;
    }
    .upload-btn
    {
        position: absolute;
        left: 25%;
        width: 100%;
        padding: 0 29% 0 0;
        margin: 0;
        font-size: 1.6em;
        margin-right: 10px;
        background-color: black;
        color: var(--green);
        background:none;
    }
    .logut-opt
{
      width: 130px;
    height: 40px;
    font-size: 16px;
    position: absolute;
    left: 84px;
    bottom: 3%;
}
}
@media (max-width:768px)
{
    #navbar
{
    position: fixed;
    color: var(--dark);
    background-color: rgb(255, 255, 255);
    box-shadow: 0px 0px 4px black;
    width: 100%;
    max-width: 100%;
    height: 50px;
    top:0;
    left: 0;
    z-index: 1;
     font-size: 80%;
}
    #navbar>nav
    {
        flex-direction: row;
        padding: 0;
    }
    .nav-logo
    {
        font-size: 2em;
        text-align: start;
        height: 50px;
        margin-left: 5px;
       
    }
   .nav-logo>span 
    {
        display: none;
        position: absolute;
        top: 0;
    }
    .nav-logo>p
    {
        display: block;
    }
    .profile-item
    {
        display: flex;
        margin-top: 10px;
        justify-content: space-between;
    }
    .upload-btn
{
    width: 50px;
  padding: 0;
  margin: 0;
  background-color: white;
  color: var(--green);
 top:7px;
  border-radius: 6px;
  cursor: pointer;
  font-size: 19px;
  position: absolute;
  top:7px;
  right:20%;
}
    #home-link
    {
        display: none;
    }
    .nav-name
    {
        display: none;
    }
     .btn-logout
    {
        width: 50px;
        background-color: transparent;
        border-radius:100%;
        margin: -7% auto;
    }
    .div-logout
{
  margin: 0 auto;
  width: 50px;
  text-align: center;
  display: flex;
}
.log-img
{
    border-radius: 100%;
    width: 30px;
    height: 30px;
    min-width: 30px;
}
    .btn-logout>p
    {
        display: none;
    }
    .btn-logout:hover
    {
    background-color: none;
    }
        .logut-opt
{
      width: 65%;
    height: 40px;
    font-size: 16px;
    position: absolute;
    left: 90px;
    top:55px;
}
}